.html-body {
  scroll-behavior: smooth;
  background-color: #FEF5ED;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #D3E4CD;
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.header-text {
  background-color: #D3E4CD;
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  display: inline-block;
  border: none;
  margin-left: 20px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 10%;
  transition: 0.5s;
  cursor: pointer;
  color: #051F20;
}

.header-text:hover {
  background-color: #ADC2A9;
}