.html-body {
  scroll-behavior: smooth;
  background-color: #FEF5ED;
  margin: 0;
  padding: 0;
}

.header-container {
  background-color: #D3E4CD;
  margin: 0px;
  padding: 10px;
  text-align: center;
}

.header-text {
  background-color: #D3E4CD;
  font-family: 'JetBrains Mono', monospace;
  font-size: 20px;
  display: inline-block;
  border: none;
  margin-left: 20px;
  margin-right: 50px;
  padding: 10px;
  border-radius: 10%;
  transition: 0.5s;
  cursor: pointer;
  color: #051F20;
}

.header-text:hover {
  background-color: #ADC2A9;
}

.dashboard {
  display: flex;
  flex-direction: column;
  margin: 0 10vw;
  margin-top: 60px;
}

.dashboard-links {
  display: flex;
}

.dashboard-links > div {
  padding: 5px 10px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 3px;
  margin-right: 10px;
}

.dashboard-link-active {
  background-color:rgb(232, 232, 232);
}

.data-container {
  display: flex;
  justify-content: space-between;
}

.dashboard h2 {
  align-self: flex-start;
}

.velocity-display {
  width: 10vw;
  padding: 10px 20px;
  border: 1px solid rgb(206, 206, 206);
  border-radius: 5px;
  margin-bottom: 40px;
}

.velocity-display h3 {
  font-size: 15px;
}

.velocity-display span {
  font-size: 30px;
}